<!DOCTYPE html>
<html>
    <head>
        <title>ML Audio Genre Classifier</title>
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico" />
    </head>
    <style>
        body {text-align: center;}
    </style>
</html>
<body>
    <br />
    <form id="form">
        <label for="file">Select WAV or MP3</label>
        <input type="file" id="file" name="file" accept=".wav, .mp3" />
        <button type="submit">Classify</button>
    </form>
    <!--<div id="result"></div>-->
    <br />
    <div id="result">
        <h1 id="prediction"></h1>
        <div id="spectrogram"></div>
    </div>

    <script>
        document.getElementById('form').addEventListener('submit', function(event) {
            const formData = new FormData();
            const fileInput = document.getElementById('file');
            formData.append('file', fileInput.files[0]);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    //return response.blob();
                    return response.json();
                } else {
                    throw new Error('Error uploading file');
                }
            })
            /*
            .then(blob => {
                const imgURL = URL.createObjectURL(blob);
                const img = document.createElement('img');
                img.src = imgURL;
                const resultDiv = document.getElementById('result');
                resultDiv.innerHTML = ''; // Clear previous results
                resultDiv.appendChild(img);
            })
            */
            .then(data => {
                // Display prediction
                const predictionDiv = document.getElementById('prediction');
                predictionDiv.innerHTML = `<p>Prediction: ${data.prediction}</p>`;
                
                // Display spectrogram image
                const spectrogramDiv = document.getElementById('spectrogram');
                spectrogramDiv.innerHTML = ''; // Clear previous results
                const img = document.createElement('img');
                img.src = `data:image/png;base64,${data.spectrogram}`;
                img.onerror = () => console.error('Image failed to load');
                spectrogramDiv.appendChild(img);
            })
            .catch(err => console.error('Error:', err));
            event.preventDefault();
        })
    </script>
</body>